<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit chat</title>
</head>
<body>
  
   <p> Edit your chat: <%= chat._id%></p>
   <p>This was chat send from: <b><%= chat.from%></b> to:  <b><%= chat.to%></p></b>

    <form method="POST"  action="/chats/<%=chat._id%>?_method=PUT">
      <textarea name="msg" rows="7" cols="50" id=""> <%= chat.msg %></textarea>
      <br>
      <button>Edit Conform</button>
    </form>
</body>
</html>